<h1>Toldya.</h1>
<p>A community driven destination review site.</p>

<%= form_with url: destinations_search_path, :method => "get", :local => true, :skip_enforcing_utf8 => true do |f| %>
  <%= f.label :q, "Search for Destination:" %>
  <%= f.search_field :q, :required => true %>
  <%= f.submit "Search", name: nil%>
<% end %>