<div class="d-flex h-100 text-center  rounded-3" id="main-cover">
  <main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="px-3 text-dark">Toldya.</h1>
    <p class="lead text-dark">Tell your friend . Tell your family . Tell the world <br>A community driven destination review site.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-secondary bg-light text-dark">Learn more</a>
    </p>
  </main>
</div>