#profile-nav {
  display: flex;
  position: absolute;
  right: 0;
}

#navbarCollapse {
  justify-content: center;
}

#navbarCollapse > form {
  max-width: 50%;
  transform: translateX(-50px);
}

ul.dropdown-menu {
  left: -68px;
}
a.navbar-brand {
  font-size: 1.8rem;
}

#navdrop-user {
  margin-left: 16px;
}

a {
  text-decoration: none;
}

.error {
  color: red;
}

.search-destination {
  // border-bottom: 2px solid pink;
}

.search-destination:hover {
  // background-color: rgba(211, 211, 211, 0.1);
  color: red;
  
}

.profile_photo {
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

.form-check {
  display: inline-block;
}

#main-cover {
  // margin-top: 120px;
  transform: translateY(55%);
}

#main-cover h1 {
  font-size: 4rem;
}

#main-cover p {
  font-size: 2rem;
}

.container {
  max-width: 900px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 767px) {
  #profile-nav {
    position: relative;
    justify-content: flex-end;
  }

  #navbarCollapse > form {
    max-width: none;
    transform: none;
  }

  ul.dropdown-menu {
    left: 0;
  }

  #main-cover h1 {
    font-size: 3rem;
  }
  
  #main-cover p {
    font-size: 1.5rem;
  }

}

@media (max-width: 510px) {
  #main-cover p {
    font-size: 1rem;
  }
}