<h2 class="mt-5">New review for <%= Destination.find(session[:destination_id]).name.titlecase %> </h2>
<% if @review.errors.any? %>
  <ol>
    <% @review.errors.full_messages.each { |msg| %>
      <li><%= msg %></li>
    <% }%>
  </ol>
<% end %>

<% if @existing_review.present? %>
  <p>An existing review already exists for that date. <%= link_to 'Edit Review Instead?', edit_review_path(@existing_review.first.id) %></p>
<% end %>

<%= render :partial => 'form' %>
</div>